

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: start;
  box-sizing: border-box;
}
.admin {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: auto;
}
.admin #menu-list {
  width: 100%;
}
.admin #page-builder {
  width: 100%;
  min-height: 98vh;
  height: auto;
  position:relative;
}
/* Add your CSS styles here */
/* Add your CSS styles here */

.hidden {
  display: none;
}

.header-variants {
  list-style-type: none;
  padding: 0;
}

.header-variants li {
  cursor: pointer;
}

.header-variants input {
  display: none;
}

.header-variants label {
  cursor: pointer;
  margin-right: 10px;
}

.header-variants li:hover {
  background-color: #f0f0f0;
}

/* Style for the radio button container */
.radio-container {
  display: flex;
  flex-direction: column;
}

/* Style for the radio button label */
.radio-label {
  margin-bottom: 10px;
}

.selected {
  border: 1px solid #ff1717;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}




.admin-delete img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(77%) saturate(1%) hue-rotate(53deg) brightness(105%) contrast(101%);
}
.component {
  position: relative;
}
.component  .admin-delete {
  position: absolute;
  right: 50%;
  top: 100%;
  padding: 2px 6px !important;
  z-index: 999;
}

.editPage {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.editPage img {
  width: 24px;
}
.component {
  cursor: move;
  border-radius: 0;
}
.dropdown-item {
  cursor: pointer;
  margin-bottom: 8px;
}

.export {
  z-index: 999;
}